<div class="useful-information__item-wrapper gl__grid-item {{#if isMain}}mod-main{{else}}mod-secondary{{/if}} {{#if isWhite}}mod-white{{/if}}">
  <img src="{{ itemImg }}" alt="" class="useful-information__item-background">

  <div class="gl__grid-item-head">
    <div class="{{#if isMain}}gl__grid-main-item-title{{else}}gl__grid-secondary-item-title{{/if}}">
      {{ itemTitle }}
    </div>

    <div class="useful-information__item-subtitle {{#if isMain}}gl__grid-main-item-subtitle{{else}}gl__grid-secondary-item-subtitle{{/if}}">
      {{ itemSubtitle }}
    </div>
  </div>

  <div>
    <button class="gl__main-btn mod-transparent {{#if isWhite}}mod-white{{ else }}mod-black{{/if}}">{{ itemBtnText }}</button>
  </div>
</div>
