<div class="gl-menu__container">
  <label class="gl-menu__radio-wrapper">
    <input type="radio" class="gl-menu__radio" name="{{ menuItemName }}" checked>
    <span class="gl-menu__radio-content">{{ menuItemTitle1 }}</span>
  </label>
  <label class="gl-menu__radio-wrapper">
    <input type="radio" class="gl-menu__radio" name="{{ menuItemName }}">
    <span class="gl-menu__radio-content">{{ menuItemTitle2 }}</span>
  </label>
  <label class="gl-menu__radio-wrapper">
    <input type="radio" class="gl-menu__radio" name="{{ menuItemName }}">
    <span class="gl-menu__radio-content">{{ menuItemTitle3 }}</span>
  </label>
</div>
