<li class="rates-list__slide gl-slider__slide gl__white-container  {{#if isHit }}rates-list__slide-hit{{/if}}">
  {{#if isHit }}
    <img src="img/main-page/rates-list/hit-background.svg" alt="" class="rates-list__slide-hit-background">
    <img src="img/main-page/rates-list/hit-mark.svg" alt="" class="rates-list__slide-hit-mark">
  {{/if}}
  <div class="rates-list__slide-content">
    <div class="rates-list__slide-up">
      <div class="rates-list__slide-title">{{ title }}</div>
      <div class="rates-list__slide-subtitle">{{ subtitle }}</div>

      <ul class="rates-list__slide-conditions-list">
        {{#if unlimited }}
          <li class="rates-list__slide-condition-item">
            <img src="img/main-page/rates-list/unlimited.svg" alt="" class="rates-list__slide-condition-item-icon">
            <div class="rates-list__slide-condition-item-text">Безлимитный интернет</div>
          </li>
        {{/if}}
        {{#if calls1 }}
          <li class="rates-list__slide-condition-item">
            <img src="img/main-page/rates-list/phone-1.svg" alt="" class="rates-list__slide-condition-item-icon">
            <div class="rates-list__slide-condition-item-text">{{ calls1 }}</div>
          </li>
        {{/if}}
        {{#if calls2 }}
          <li class="rates-list__slide-condition-item">
            <img src="img/main-page/rates-list/phone-2.svg" alt="" class="rates-list__slide-condition-item-icon">
            <div class="rates-list__slide-condition-item-text">{{ calls2 }}</div>
          </li>
        {{/if}}
        {{#if calls3 }}
          <li class="rates-list__slide-condition-item">
            <img src="img/main-page/rates-list/phone-3.svg" alt="" class="rates-list__slide-condition-item-icon">
            <div class="rates-list__slide-condition-item-text">{{ calls3 }}</div>
          </li>
        {{/if}}
      </ul>
    </div>

    <div class="rates-list__slide-down">
      {{#if opportunities }}
        <div class="rates-list__opportunities-wrapper">
          <div class="rates-list__opportunities-title">Возможности</div>

          <div class="rates-list__opportunities-text">{{ opportunities }}</div>
        </div>
      {{/if}}

      <div class="rates-list__slide-price-wrapper">
        <div class="rates-list__slide-price">
          <span class="big">{{ price }}</span><span class="small">₽/мес</span>
        </div>
      </div>

      <div class="rates-list__slide-btns-wrapper">
        <button type="button" class="rates-list__slide-btn-plug gl__main-btn">Подключить</button>
        <div class="rates-list__slide-link-detailed-wrapper">
          <a href="" class="rates-list__slide-link-detailed">Подробнее о тарифе</a>
        </div>
      </div>
    </div>
  </div>
</li>
